@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:ital,wght@0,300;0,400;1,200;1,300&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 0%);
  --Dark-Gray: hsl(0, 0%, 55%);
  --Very-Dark-Gray: hsl(0, 0%, 41%);
  --alata: "Alata", sans-serif;
  --josefin: "Josefin Sans", sans-serif;
}

body {
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

/* Mobpile View */
main {
  min-height: 100vh;
  width: 100vw;
}

/* Nav */

nav {
  height: 100%;
  width: 100vw;
  background-color: var(--Black);
  padding: 40px 25px 0 25px;
  position: fixed;
  z-index: 1000;
  transform: translateY(-10000px);
}

nav.active {
  display: block;
  transition: all ease 1s;
  transform: translateY(0px);
}

.navbar {
  width: 100%;
  height: 100vh;
}

.logo_close-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 25px;
}

ul.navlinks {
  text-transform: uppercase;
  margin-top: 8rem;
}

li.navlink {
  color: var(--White);
  list-style: none;
  font-family: var(--josefin);
  font-weight: 300;
  font-size: 1.5rem;
  margin-bottom: 25px;
}

a {
  color: white;
  text-decoration: none;
}

/* landing page */
.hero {
  height: 100vh;
  width: 100vw;
  padding: 40px 25px 0 25px;
  background-image: url(./images/desktop/image-hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.hero-text {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  border: solid 1.5px white;
  width: 19rem;

  padding: 20px;
}

.hero-text h2 {
  color: white;
  text-transform: uppercase;
  font-family: var(--josefin);
  font-weight: 20;
  font-size: 2rem;
  width: 12rem;
}

/* interactive */
.interactive {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
}

.interactive-img-holder {
  width: 20rem;
  height: 13rem;
}

.interactive-img {
  background-image: url(./images/mobile/image-interactive.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.interactive-text {
  height: 100%;
  width: 19rem;
  align-items: center;
  text-align: center;
  margin-top: 15px;
  background-color: var(--White);
  margin-bottom: 6rem;
}

.headers {
  font-family: var(--josefin);
  text-transform: uppercase;
  font-weight: 300;
  font-size: 2rem;
  color: var(--Black);
  padding: 20px 0;
}

.interactive-text p {
  font-family: var(--alata);
  color: var(--Very-Dark-Gray);
  width: 19rem;
  margin: auto;
}

/* creations */
.creations {
  height: 100%;
  width: 10vw;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
  margin: auto;
}

.creations-heading {
  width: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.creations-heading h1 {
  margin-bottom: 1.5rem;
}

.our-creations {
  margin-bottom: 20px;
}

.creation {
  background-color: green;
  width: 20rem;
  height: 7rem;
  margin-bottom: 20px;
  position: relative;
}

.overlay {
  background-color: var(--Black);
  height: 7rem;
  width: 20rem;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.3;
}

.creation h1 {
  text-transform: uppercase;
  font-family: var(--josefin);
  font-weight: 300;
  color: var(--White);
  padding: 50px 0 0 20px;
}
.creation .earth {
  background-image: url(./images/mobile/image-deep-earth.jpg);
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.creation .arcade {
  background-image: url(./images/mobile/image-night-arcade.jpg);
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.creation .soccer {
  background-image: url(./images/mobile/image-soccer-team.jpg);
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.creation .grid {
  background-image: url(./images/mobile/image-grid.jpg);
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.creation .above {
  background-image: url(./images/mobile/image-from-above.jpg);
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.creation .pocket {
  background-image: url(./images/mobile/image-pocket-borealis.jpg);
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.creation .curiosity {
  background-image: url(./images/mobile/image-curiosity.jpg);
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.creation .fisheye {
  background-image: url(./images/mobile/image-fisheye.jpg);
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.see-all button {
  width: 12rem;
  height: 3rem;
  text-transform: uppercase;
  font-family: var(--alata);
  background-color: var(--White);
  outline: none;
  border: 2px solid black;
  font-size: 1rem;
  letter-spacing: 5px;
  cursor: pointer;
  margin-bottom: 2rem;
}

footer {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.footer-container {
  height: 100%;
  /* background-color: red; */
}

.footer-logo {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 65px;
  margin: auto;
}

.footer-logo img {
  height: 2rem;
}

.footer-links {
  list-style: none;
  padding-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 35px;
}

.footer-link {
  color: var(--White);
  font-family: var(--alata);
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.footer-social-media {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.footer-social-media img {
  margin-right: 15px;
  height: 30px;
}

.footnnote {
  margin-top: 20px;
  color: var(--Dark-Gray);
  font-family: var(--alata);
}

.see-all-top button {
  display: none;
}

@media screen and (min-width: 550px) {
  nav {
    padding: 40px 50px 0 50px;
  }

  .hero {
    padding: 40px 50px 0 50px;
  }

  .interactive-img-holder {
    width: 30rem;
    height: 20rem;
    margin: auto;
  }

  .interactive-text {
    width: 23rem;
  }

  .interactive-text p {
    width: 23rem;
  }

  .creation {
    width: 24rem;
  }

  .overlay {
    width: 24rem;
  }
}

@media screen and (min-width: 768px) {
  nav {
    width: 100vw;
    height: 5rem;
    transform: translateY(0px);
    position: relative;
    padding: 0;
    background-color: transparent;
  }

  .navbar {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
  }

  .logo_close-btn {
    display: block;
    margin-right: 4rem;
  }

  .logo img {
    height: 23px;
  }

  .close-btn {
    display: none;
  }

  ul.navlinks {
    margin: 0;
    display: flex;
  }

  li.navlink {
    text-transform: capitalize;
    margin: 0;
    padding-right: 40px;
    font-size: 1.3rem;
    font-weight: 500;
  }

  a:hover::after {
    content: "";
    width: 1rem;
    position: absolute;
    display: block;
    height: 2px;
    background-color: white;
    margin: 5px auto;
    cursor: pointer;
    /* bottom: 0.8rem;
    padding-left: 10px; */
  }

  .hamburger-btn,
  .hero-logo {
    display: none;
  }

  /* Hero text */
  .main-content {
    position: absolute;
    top: 0;
    left: 0;
  }

  .hero {
    height: 100vh;
    background-image: url(./images/desktop/image-hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }

  .hero-text {
    right: 70%;
    width: 25rem;
  }

  .hero-text h2 {
    width: 22rem;
    font-size: 3rem;
  }

  /* ?intereactive */

  .interactive-img-holder {
    width: 30rem;
    height: 20rem;
  }
  .interactive-img {
    background-image: url(./images/desktop/image-interactive.jpg);
  }

  .interactive-text {
    margin-bottom: 0rem;
  }

  /* creatons */

  .creations {
    position: relative;
    margin-top: 5rem;
    margin-bottom: 4.5rem;
  }

  .our-creations {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    width: 80vw;
  }

  .creation {
    background-color: green;
    width: 20vw;
    height: 15rem;
    margin-bottom: 20px;
  }

  .overlay {
    width: 20vw;
    height: 15rem;
    opacity: 0.2;
  }

  .overlay:hover {
    opacity: 0;
  }

  .creation h1 {
    text-transform: uppercase;
    font-family: var(--josefin);
    font-weight: 300;
    color: var(--White);
    padding: 170px 0 0 10px;
  }

  .creation .earth {
    background-image: url(./images/desktop/image-deep-earth.jpg);
  }

  .creation .arcade {
    background-image: url(./images/desktop/image-night-arcade.jpg);
  }

  .creation .soccer {
    background-image: url(./images/desktop/image-soccer-team.jpg);
  }

  .creation .grid {
    background-image: url(./images/desktop/image-grid.jpg);
  }

  .creation .above {
    background-image: url(./images/desktop/image-from-above.jpg);
  }

  .creation .pocket {
    background-image: url(./images/desktop/image-pocket-borealis.jpg);
  }

  .creation .curiosity {
    background-image: url(./images/desktop/image-curiosity.jpg);
  }

  .creation .fisheye {
    background-image: url(./images/desktop/image-fisheye.jpg);
  }

  .creations-heading {
    width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.5rem;
  }

  .see-all-top button {
    width: 10rem;
    height: 2rem;
    text-transform: uppercase;
    font-family: var(--alata);
    background-color: var(--White);
    outline: none;
    border: 2px solid black;
    font-size: 1rem;
    letter-spacing: 5px;
    cursor: pointer;
    display: inline;
  }

  .see-all {
    display: none;
  }

  .creations-heading .headers {
    margin: 0;
  }

  footer {
    height: 10rem;
    display: block;
    width: 100vw;
    padding: 10px 0;
  }

  .footer-container {
    height: 100%;
    display: flex;
    justify-content: space-between;
  }

  .footer-links {
    flex-direction: row;
    padding: 0;
    margin: 0;
  }

  .footer-link {
    margin: 0;
    padding-right: 15px;
    font-size: 14px;
  }

  .footer-logo {
    padding: 0;
    margin: 0;
    display: block;
  }

  .footnnote {
    margin: 0;
    font-size: 14px;
  }

  .footer-social-media {
    align-self: flex-end;
    justify-content: flex-end;
    font-size: 16px;
  }

  .social__footnote {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    margin-right: 2rem;
  }

  .logo__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    margin-left: 2rem;
  }
}

@media screen and (min-width: 900px) {
  .hero-text {
    right: 75%;
    width: 27rem;
  }

  .hero-text h2 {
    font-size: 5vw;
    width: 24rem;
    /* max-width: 30rem; */
  }

  .interactive {
    flex-direction: row;
    margin-bottom: 5rem;
    justify-content: center;
  }

  .interactive-img-holder {
    margin: 0;
  }

  .interactive-text {
    padding: 15px;
  }

  .interactive-text p {
    width: 21.125rem;
  }

  .creation {
    background-color: green;
    width: 20vw;
    height: 30rem;
    margin-bottom: 20px;
  }

  .creation h1 {
    padding: 400px 0 0 10px;
  }

  .overlay {
    height: 30rem;
  }

  /* .creation {
      background-color: green;
      width: 20vw;
      height: 30rem;
      margin-bottom: 20px;
    }

    .creation h1 {
      padding: 400px 0 0 10px;
    }

    .overlay {
      height: 30rem;
    }

    .interactive {
      flex-direction: row;
      padding-left: 100px;
      position: relative;
    }

    .interactive-img-holder {
      width: 100%;
      height: 100%;
    }

    .interactive-img {
      width: 100%;
    }

    .interactive-text {
      text-align: left;
      margin: 0;
      display: block;
      background-color: lawngreen;
      position: absolute; 
      height: 59%;
      margin-left: -10rem;
      margin-top: 10rem;
    }

    .interactive-text p {
    } */

  @media screen and (min-width: 1200px) {
    nav {
      padding: 80px 8rem 0 8rem;
    }

    .hero-text {
      width: 40rem;
      right: 65%;
    }

    .hero-text h2 {
      font-size: 5vw;
      width: 40rem;
    }
  }

  @media screen and (min-width: 1300px) {
    nav {
      padding: 80px 8rem 0 8rem;
    }

    .navlink a {
      font-size: 1rem;
    }
    .hero-text {
      width: 40rem;
      right: 65%;
      padding: 40px;
    }

    .hero-text h2 {
      font-size: 5vw;
      /* background-color: lawngreen; */
      max-width: 40rem;
    }
  }
}
